

*{
    font-size: large;
}
 .profile-icon{
  display: grid;
  grid-template-areas:
    "icon subtext"
    "icon text";
}

.span-text{
  grid-area: subtext;
  font-style: italic;
}

.icon{
  grid-area: icon;
}

.text{
  grid-area: text;
  text-transform: capitalize;
}


