.home-container{
    margin-left: 5%;
     display: flex;
    
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  
}

.item{
    /* padding: 10px; */
    /* flex: 0 0  250px; */
    max-width: 300px;
}

.card{
    width: 100%;
}

