.fullpage{
    display: flex;
}

/* .side-bar{
    grid-area: 'side-bar';
} */
/* 
 xs:'70vw',
              sm : '50vw',
              md : 200 */
@media screen and (width = 320px) {
    .dynamic{
        margin-left: 50vw;
    }
}